In [1]:
a=33
print(a)

33

In [2]:
a=35
b=76.7
c="I am a boy"
print(a,b,c)

35 76.7 I am a boy

In [3]:
#this is a comment
name = "mark" #this is another comment
print(name)

mark

In [4]:
b1 = 3>2
print(b1)
type(b1)  # 输出b1的数据类型，也就是bool

True

bool

In [5]:
a=100
b=-100
c=0xff
type(c)  # 输出c的数据类型，也就是int

int

In [6]:
f1=3.23
f2=1.2e-5
type(f1)  # 输出f1的数据类型，也就是float

float

In [7]:
c1=3+2.7j
c2=-5-9.3j
type(c1)  # 输出c1的数据类型，也就是complex

complex

In [8]:
s1='small string'
s2="a much larger sting"
s3="""spanning
multiple
lines"""
print(s3)
type(s1)  # 输出s1的数据类型，也就是str

str = 'Hello World!'
print (str)      # 打印整个字符串
print (str[0] )    # 打印0号下标字符
print (str[2:5] )   # 打印2、3、4号下标字符
print (str[2:] )    # 打印2号下标字符，以及后续字符
print (str * 2)    # 打印字符串两遍
print (str + "TEST") # 把str和"TEST"连接起来，然后打印

spanning
multiple
lines
Hello World!
H
llo
llo World!
Hello World!Hello World!
Hello World!TEST

In [9]:
list_normal = [ 'abcd', 786 , 2.23, 'john', 70.2 ]
tinylist = [123, 'john']

print (list_normal)     # 打印list_normal的所有元素
print (list_normal [0] )    # 打印list_normal的0号下标元素
print (list_normal [1:3] )   # 打印下标为1、2的元素
print (list_normal [2:] )    # 打印下标>=2的元素
print (list_normal [-1] )   # 打印倒数第一个元素
print (list_normal [:-1] )   # 从下标为0的元素开始打印，打印到倒数第2个元素

print (tinylist * 2)  # 打印tinylist两遍
print (list_normal + tinylist) # 连接list_normal和tinylist，然后打印

['abcd', 786, 2.23, 'john', 70.2]
abcd
[786, 2.23]
[2.23, 'john', 70.2]
70.2
['abcd', 786, 2.23, 'john']
[123, 'john', 123, 'john']
['abcd', 786, 2.23, 'john', 70.2, 123, 'john']

In [10]:
list_normal = [ 'abcd', 786 , 2.23, 'john', 70.2 ]
list_normal.append('more')
print(list_normal)
list_normal.insert(1,785)
print(list_normal)

list_normal.pop()
print(list_normal)
list_normal.pop(2)
print(list_normal)

['abcd', 786, 2.23, 'john', 70.2, 'more']
['abcd', 785, 786, 2.23, 'john', 70.2, 'more']
['abcd', 785, 786, 2.23, 'john', 70.2]
['abcd', 785, 2.23, 'john', 70.2]

In [11]:
#转换字符串为列表
s = 'I am a boy'       # 生成字符串
w = list(s)          # 转为字符的列表
print(w)            # 显示['I', ' ', 'a', 'm', ' ', 'a', ' ', 'b', 'o', 'y']
w.reverse()
print(w)            # 显示['y', 'o', 'b', ' ', 'a', ' ', 'm', 'a', ' ', 'I']

['I', ' ', 'a', 'm', ' ', 'a', ' ', 'b', 'o', 'y']
['y', 'o', 'b', ' ', 'a', ' ', 'm', 'a', ' ', 'I']

In [12]:
s = 'you are a girl'
w = s.split()            # 基于空白符(空格, 新行)切分
print(w)               # 显示['you', 'are', 'a', 'girl']

print('|'.join(w) )           # 对其他串用'|'来join，显示you|are|a|girl

['you', 'are', 'a', 'girl']
you|are|a|girl

In [13]:
a = [ [3,4,5,6,7], [13,14,15,16,17], [23,24,25,26,27]]# 3行5列的矩阵
b = []
i = 0 
for new_row in range(len(a[0])):
    b.append([])
    for new_col in range(len(a)):
        b[new_row].append( a[new_col][new_row])

print (a)
print (b)
# 这段代码执行的结果是
#[[3, 4, 5, 6, 7], [13, 14, 15, 16, 17], [23, 24, 25, 26, 27]] # a是一个3行5列的矩阵
#[[3, 13, 23], [4, 14, 24], [5, 15, 25], [6, 16, 26], [7, 17, 27]] # b是一个5行3列的矩阵

import pandas as pd
df = pd.DataFrame(b)
print (df.transpose())

[[3, 4, 5, 6, 7], [13, 14, 15, 16, 17], [23, 24, 25, 26, 27]]
[[3, 13, 23], [4, 14, 24], [5, 15, 25], [6, 16, 26], [7, 17, 27]]
    0   1   2   3   4
0   3   4   5   6   7
1  13  14  15  16  17
2  23  24  25  26  27

In [14]:
tuple_normal = ( 'abcd', 786 , 2.23, 'john', 70.2 )
tinytuple = (123, 'john')

print (tuple_normal)      # 打印tuple_normal的所有元素
print (tuple_normal [0] )    # 打印tuple_normal的0号下标元素
print (tuple_normal [1:3] )    # 打印tuple_normal的下标为1、2的元素
print (tuple_normal [2:] )    # 打印下标>=2的元素
print (tuple_normal [-1] )    # 打印倒数第一个元素
print (tuple_normal [:-1] )  # 从下标为0的元素开始打印，打印到倒数第2个元素

print (tinytuple * 2)  # 打印tinytuple两遍
print (tuple_normal + tinytuple) # 连接tuple_normal和tinytuple ，然后打印

stu1=('john', 20, 'male', 95.5, 90.5,88)
print(stu1[0]) # 打印stu1的0号下标元素
print(stu1[1]) # 打印stu1的1号下标元素
print(stu1[-1]) # 打印倒数第一个元素

('abcd', 786, 2.23, 'john', 70.2)
abcd
(786, 2.23)
(2.23, 'john', 70.2)
70.2
('abcd', 786, 2.23, 'john')
(123, 'john', 123, 'john')
('abcd', 786, 2.23, 'john', 70.2, 123, 'john')
john
20
88

In [15]:
tinydict = {'name': 'john', 'code':6734, 'dept': 'sales', 'one': 1, 2: 'two'}
print (tinydict ['one'] )    # 打印key 'one'对应的value
print (tinydict [2] )     # 打印key 2对应的value
print (tinydict.get(2) )    # 打印key 2对应的value
print ('code' in tinydict)     # 判断key是否在字典中

print (tinydict)      # 打印整个字典
print (tinydict.keys())   # 打印所有的key
print (tinydict.values())   # 打印所有的value

1
two
two
True
{'name': 'john', 'code': 6734, 'dept': 'sales', 'one': 1, 2: 'two'}
dict_keys(['name', 'code', 'dept', 'one', 2])
dict_values(['john', 6734, 'sales', 1, 'two'])

In [16]:
s1 = set([1, 2, 3])
s2 = set([2, 3, 4])
print (s1 & s2)  # 交集
print (s1 | s2)   # 并集
s1.add(5)
s2.remove(3)
print (s1 & s2)
print (s1 | s2)

print (1 in s1)    # 判断元素是否在集合中

fs1 = frozenset([4.0, 'string', True])
print(fs1)

{2, 3}
{1, 2, 3, 4}
{2}
{1, 2, 3, 4, 5}
True
frozenset({True, 'string', 4.0})

In [17]:
# 顺序结构
a=3
b=4

t=a
a=b
b=t
print(a)
print(b)

4
3

In [18]:
# 分支结构
a=3
b=2
if a>b:
    t=a
    a=b
    b=t# 这三个语句属于一个语句块，注意语句块的缩进
print(a)
print(b)

2
3

In [19]:
a=3
b=2
if a>b:
    print('a greater than b')
else:
    print('a less than or equal to b')

a greater than b

In [20]:
score=75
grade='A'
if (score<60):
    grade='E'
elif (score<70):
    grade='D'
elif (score<80):
    grade='C'
elif (score<90):
    grade='B'
else:
    grade='A'
print(grade)

C

In [21]:
# 循环结构
i=1
sum=0
while( i<=5):
    sum = sum +i
    i = i +1
print(sum)

15

In [22]:
fruits = ['banana', 'apple', 'mango']
for index in range(len(fruits)):# len(fruits)为3，range(…)为[0,1,2]
    print ('Current fruit :', fruits[index])

print ("Good bye!")

Current fruit : banana
Current fruit : apple
Current fruit : mango
Good bye!

In [23]:
list_score = [81,83,82,86,84,85]
list_name = ['john', 'mary', 'lily', 'mark', 'June', 'April']
count = len(list_score)
for j in range(0, count-1):
    for i in range(0, count -1 - j):
        if list_score [i] > list_score [i+1]:
            list_score [i], list_score [i+1] = list_score [i+1], list_score [i]
            list_name [i], list_name [i+1] = list_name [i+1], list_name [i]
# 采用冒泡排序，请参考"谭浩强《C程序设计》第四版"p148
for i in range(0, count):
    print ("%s:%d"%(list_name[i],list_score[i]))

john:81
lily:82
mary:83
June:84
April:85
mark:86

In [24]:
a = [1,2,3,4,5,6,7,8]
target = 6
found_index = -1

low = 0
high = len(a) - 1

while low <= high:
    mid = (low + high) // 2
    midVal = a[mid]
 
    if midVal < target:
        low = mid + 1
    elif midVal > target:
        high = mid - 1
    else:
        found_index = mid
        break
  
if(found_index==-1):
    print('not found')
else:
    print ('%s:%d'%('found', found_index))

found:5

In [25]:
def bin_search(a, target):
    low = 0
    high = len(a) - 1

    while low <= high:
        mid = (low + high) // 2
        midVal = a[mid]
 
        if midVal < target:
            low = mid + 1
        elif midVal > target:
            high = mid - 1
        else:
            return mid
    return -1

a = [1,2,3,4,5,6,7,8]
target = 6
found_index = -1
found_index = bin_search(a,target)
if(found_index==-1):
    print('not found')
else:
    print ('%s:%d'%('found', found_index))

a = [3,5,7,11,13,17,23,29]
target = 2
found_index = -1
found_index = bin_search(a,target)
if(found_index==-1):
    print('not found')
else:
    print ('%s:%d'%('found', found_index))

found:5
not found

In [26]:
def fractal(n):
    if n==1 or n==0:
        return 1
    return n*fractal(n-1)

print (fractal(5))

120

In [27]:
#coding=utf-8
def hanoi(n, x, y, z):
    if n==1:
        print(n, ':', x,'-->',z)
    else:
        hanoi(n-1, x, z, y)  # 将前n-1个盘子从x移动到y上(利用z)
        print(n, ':', x,'-->',z)  # 将最底下的最大的一个盘子从x移动到z上
        hanoi(n-1, y, x, z)  # 将y上的n-1个盘子移动到z上(利用x)
n=int(input('请输入汉诺塔的层数:'))
hanoi(n, 'x', 'y', 'z')

请输入汉诺塔的层数:3
1 : x --> z
2 : x --> y
1 : z --> y
3 : x --> z
1 : y --> x
2 : y --> z
1 : x --> z

In [28]:
a =3
b=4.5
c='young man'
print(a, b, c) # 顺序输出a,b,c的内容
print ('%d,%f,%s\n'%(a,b,c))# 按照格式串'%d,%f,%s\n'输出a,b,c的值
# %d表示输出整数，%f表示输出小数, %s表示输出字符串，\n表示换行

3 4.5 young man
3,4.500000,young man

In [29]:
class Employee(object):
    def __init__(self, _name):
        self.name = _name

    def setName(self, _name):
        self.name = _name
    def setSex(self, _sex):
        self.sex = _sex
    def setAge(self, _age):
        self.age = _age
    def setSalary(self, _salary):
        self.salary = _salary
    def show(self):
        print ('name:', self.name, ', sex:', self.sex, ', age: ',self.age, ', salary: ',self.salary)

emp1 = Employee('John')# 构造一个对象(Employee类的实例)
emp1.setName('John')
emp1.setSex('Male')
emp1.setAge(33)
emp1.setSalary(9800.00)
emp1.show()

emp2 = Employee('Mary')# 构造一个对象(Employee类的实例)
emp2.setName('Mary')
emp2.setSex('Female')
emp2.setAge(35)
emp2.setSalary(9500.00)
emp2.show()
print (Employee.__name__) # 显示类名

name: John , sex: Male , age:  33 , salary:  9800.0
name: Mary , sex: Female , age:  35 , salary:  9500.0
Employee

In [30]:
class Manager(Employee): #define child class
    def setSubsidy(self, _subsidy):
        self.subsidy = _subsidy 

mgr1 = Manager('tom')
mgr1.setName('tom')
mgr1.setSex('Male')
mgr1.setAge(31)
mgr1.setSalary(10100.00)
mgr1.setSubsidy(1000.00)
mgr1.show()

name: tom , sex: Male , age:  31 , salary:  10100.0

In [31]:
class Manager(Employee): # define child class
    def setSubsidy(self, _subsidy):
        self.subsidy = _subsidy 
    def show(self):
        print ('name:', self.name, ', sex:', self.sex, ', age: ',self.age, ', salary: ',self.salary, ', subsidy: ',self. subsidy)

mgr1 = Manager('tom')
mgr1.setName('tom')
mgr1.setSex('Male')
mgr1.setAge(31)
mgr1.setSalary(10100.00)
mgr1.setSubsidy(1000.00)
mgr1.show()

name: tom , sex: Male , age:  31 , salary:  10100.0 , subsidy:  1000.0

In [32]:
try:
    a = 10
    b = 0
    print (a / b)
except ZeroDivisionError:
    print ('divide by zero error captures! ' )

divide by zero error captures!

In [33]:
class Networkerror ( RuntimeError):
    def __init__(self, _args):
        self.args = _args

try:
    host_not_found = True
    if (host_not_found):
        raise Networkerror("host not found")
        # 如果没有异常，继续执行后续代码……
except Networkerror as e:
    print (e.args)

('h', 'o', 's', 't', ' ', 'n', 'o', 't', ' ', 'f', 'o', 'u', 'n', 'd')

In [34]:
import re
   
# 正则表达式匹配电话号码
pattern_phone=re.compile('^(\d{3})-(\d{3})-(\d{4})$')

phone='800-555-1212'
phonematch=pattern_phone.match(phone)
if phonematch:
    print (phonematch.group())
else:
    print ("phone number is error!")

phone='800-555-1212-1234'
phonematch=pattern_phone.match(phone)
if phonematch:
    print (phonematch.group())
else:
    print ("phone number is error!")

800-555-1212
phone number is error!

In [35]:
# the end